<section class="logIn">
    <article class="artLogo">
        <img src="../../assets/img/logoBQ.png" class="logo" alt="Burger Queen logo">
    </article>
    <article class="artLogin">
        <h5 class="welcome">Welcome!</h5>
        <form class="formLogin" [formGroup]="loginForm" (ngSubmit)="logIn()">
            <p class="error">{{errorMessage}}</p>
            <input type="email" placeholder="email" class="inpEmail" name="email" formControlName="email">
            <input type="password" placeholder="password" class="inpPassword" name="password" formControlName="password">
            <button type="submit" class="btnLogin">LOGIN</button>
        </form> 
    </article>
</section>
