<header class="header">
    <img src="../../assets/img/icon-user.png" class="icon-user">
</header>

<section class="foodSection">
    <nav class="options">
        <ul>
            <li>
                <img src="../../assets/img/menu-active.png" class="icon">
            </li>
            <li>
                <img src="../../assets/img/orders.png" class="icon">
            </li>
            <li>
                <img src="../../assets/img/history.png" class="icon">
            </li>
            <li>
                <img src="../../assets/img/logout.png" class="icon">
            </li>
        </ul>
    </nav>
    <article class="menu">
        <h2>Category menu</h2>
        <div class="ProductCategory">
            <button (click)="get()" class="prueba">PRUEBA</button>
        </div>
        <div class="productType">

        </div>
        <div class="productName">

        </div>
    </article>
    <article class="order">

    </article>
</section>